<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TwitTicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TwitTicker.Properties.Settings>
            <setting name="consumerkey" serializeAs="String">
                <value>2wac5fKfWGcUZZ2inVz6uw</value>
            </setting>
            <setting name="consumersecret" serializeAs="String">
                <value>NfnosxzSlyK26r3hs1nL9yDXFpLywH1n6Tx6jA</value>
            </setting>
            <setting name="appkey" serializeAs="String">
                <value />
            </setting>
            <setting name="appsecret" serializeAs="String">
                <value />
            </setting>
            <setting name="twitterupdateinterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="scrollupdateinterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="barposition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="autoscroll" serializeAs="String">
                <value>True</value>
            </setting>
        </TwitTicker.Properties.Settings>
    </userSettings>
</configuration>
